[Unit]
Description=Logout then login campus network (05:00 daily via timer)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=$home

ExecStartPre=/home/linuxbrew/.linuxbrew/bin/uvx --from cnc-cli cnc logout
ExecStart=/usr/bin/sleep 2
ExecStartPost=/home/linuxbrew/.linuxbrew/bin/uvx --from cnc-cli cnc login

StandardOutput=journal
StandardError=journal
